*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:Arial,sans-serif;
background:#f4f7fa;
line-height:1.8;
}


header{
background:#001f3f;
color:white;
padding:40px;
text-align:center;
}


header h1{
font-size:40px;
}


header p{
margin-top:10px;
font-size:18px;
}


nav{
background:black;
padding:15px;
text-align:center;
}


nav a{
color:white;
text-decoration:none;
margin:15px;
font-size:18px;
}


nav a:hover{
color:gold;
}


section{
padding:30px;
}


h2{
margin-bottom:20px;
color:#001f3f;
}


ul{
padding-left:25px;
}


li{
margin-bottom:10px;
}


button{

padding:15px;
margin-top:15px;
margin-right:10px;
border:none;
border-radius:10px;
cursor:pointer;
font-size:16px;
background:#001f3f;
color:white;

}


button:hover{

opacity:0.8;

}


#result{

margin-top:20px;
font-size:20px;
font-weight:bold;

}


footer{

background:#001f3f;
color:white;
padding:30px;
text-align:center;
margin-top:30px;

}



@media(max-width:768px){

header h1{
font-size:30px;
}

nav a{

display:block;
margin:10px;

}

button{

display:block;
width:100%;
margin-top:15px;

}

}